body {
    background-color: #222;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    grid-gap: 20px;
    
    .cube {
      width: 20px; height: 20px;
      outline: 1px solid red;
  
      // animation: cube 5s ease-in-out infinite;
      position: relative;
  
      @for $i from 1 to 101 {
        &:nth-child(#{$i}) {
          animation: cube 5s ease-in-out infinite #{1s * ($i * 0.05)};
        }
      }
  
      transform-style: preserve-3d;
      transform-origin: 50% 50% 100%;
      
      .front {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        outline: 1px solid #FFF;
        transform: translate3d(0, 0, 20px);
        transform-style: preserve-3d;
  
        &:after, &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        
        &:after {
          outline: 1px solid yellow;
          transform: rotateX(90deg) translateZ(10px) translateY(-10px);
        }
        
        &:before {
          transform: rotateX(90deg) translateZ(-10px) translateY(-10px);
          outline: 1px solid greenyellow;
        }
      }
    }
  
    @keyframes cube {
      50% {
        transform: rotateX(55deg) rotateZ(45deg);
      }
    }
  }